USE [master]
GO
/****** Object:  Database [FastFoodDB]    Script Date: 2/3/2026 18:06:02 ******/
CREATE DATABASE [FastFoodDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FastFoodDB_data', FILENAME = N'C:\FastFood\FastFoodDB_data.mdf' , SIZE = 10240KB , MAXSIZE = 102400KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'FastFoodDB_log', FILENAME = N'C:\FastFood\FastFoodDB_log.ldf' , SIZE = 5120KB , MAXSIZE = 25600KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FastFoodDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FastFoodDB]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[categoriaId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[clienteId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[email] [nvarchar](150) NULL,
	[Direccion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[clienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[departamentoId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[departamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleOrdenes]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrdenes](
	[detalleId] [int] IDENTITY(1,1) NOT NULL,
	[ordenId] [int] NULL,
	[productoId] [int] NULL,
	[cantidad] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[detalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[empleadoId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NULL,
	[dni] [varchar](15) NULL,
	[fechaIngreso] [date] NULL,
	[sucursalId] [int] NULL,
	[departamentoId] [int] NULL,
	[puestoId] [int] NULL,
	[rolId] [int] NULL,
	[Posicion] [nvarchar](100) NULL,
	[Departamento] [nvarchar](100) NULL,
	[Rol] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[empleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajeros]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajeros](
	[mensajeroId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[telefono] [nvarchar](50) NULL,
	[esEmpleado] [bit] NULL,
	[empleadoId] [int] NULL,
	[EsExterno] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[mensajeroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[ordenId] [int] IDENTITY(1,1) NOT NULL,
	[ClienteID] [int] NULL,
	[SucursalID] [int] NULL,
	[EmpleadoID] [int] NULL,
	[MensajeroID] [int] NULL,
	[OrigenID] [int] NULL,
	[TipoPagoID] [int] NULL,
	[HorarioVenta] [nvarchar](20) NULL,
	[TotalCompra] [decimal](10, 2) NULL,
	[KilometrosRecorrer] [decimal](5, 2) NULL,
	[FechaDespacho] [datetime] NULL,
	[FechaEntrega] [datetime] NULL,
	[FechaOrdenTomada] [datetime] NULL,
	[FechaOrdenLista] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ordenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrigenesOrden]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrigenesOrden](
	[origenId] [int] NOT NULL,
	[nombreOrigen] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[origenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrigenesOrden_TEMP]    Script Date: 2/3/2026 18:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrigenesOrden_TEMP](
	[origenId] [int] IDENTITY(1,1) NOT NULL,
	[nombreOrigen] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 2/3/2026 18:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[productoId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[CategoriaID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puesto]    Script Date: 2/3/2026 18:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puesto](
	[puestoId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[puestoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 2/3/2026 18:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[rolId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 2/3/2026 18:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[sucursalId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[direccion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[sucursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposPago]    Script Date: 2/3/2026 18:06:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposPago](
	[tipoPagoId] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([categoriaId], [nombre]) VALUES (1, N'Comida Rápida')
INSERT [dbo].[Categorias] ([categoriaId], [nombre]) VALUES (2, N'Postres')
INSERT [dbo].[Categorias] ([categoriaId], [nombre]) VALUES (3, N'Bebidas')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([clienteId], [nombre], [email], [Direccion]) VALUES (1, N'Cliente Uno', NULL, N'1000 A Street')
INSERT [dbo].[Clientes] ([clienteId], [nombre], [email], [Direccion]) VALUES (2, N'Cliente Dos', NULL, N'1001 B Street')
INSERT [dbo].[Clientes] ([clienteId], [nombre], [email], [Direccion]) VALUES (3, N'Cliente Tres', NULL, N'1002 C Street')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleOrdenes] ON 

INSERT [dbo].[DetalleOrdenes] ([detalleId], [ordenId], [productoId], [cantidad], [Precio]) VALUES (14, 1, 1, 3, CAST(23.44 AS Decimal(10, 2)))
INSERT [dbo].[DetalleOrdenes] ([detalleId], [ordenId], [productoId], [cantidad], [Precio]) VALUES (15, 1, 2, 5, CAST(45.14 AS Decimal(10, 2)))
INSERT [dbo].[DetalleOrdenes] ([detalleId], [ordenId], [productoId], [cantidad], [Precio]) VALUES (16, 1, 3, 4, CAST(46.37 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleOrdenes] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([empleadoId], [nombre], [apellido], [dni], [fechaIngreso], [sucursalId], [departamentoId], [puestoId], [rolId], [Posicion], [Departamento], [Rol]) VALUES (1, N'John Doe', NULL, N'DNI0001', NULL, 1, NULL, NULL, NULL, N'Gerente', N'Administración', N'Vendedor')
INSERT [dbo].[Empleados] ([empleadoId], [nombre], [apellido], [dni], [fechaIngreso], [sucursalId], [departamentoId], [puestoId], [rolId], [Posicion], [Departamento], [Rol]) VALUES (2, N'Jane Smith', NULL, N'DNI0002', NULL, 1, NULL, NULL, NULL, N'Subgerente', N'Ventas', N'Vendedor')
INSERT [dbo].[Empleados] ([empleadoId], [nombre], [apellido], [dni], [fechaIngreso], [sucursalId], [departamentoId], [puestoId], [rolId], [Posicion], [Departamento], [Rol]) VALUES (3, N'Bill Jones', NULL, N'DNI0003', NULL, 1, NULL, NULL, NULL, N'Cajero', N'Ventas', N'Vendedor')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Mensajeros] ON 

INSERT [dbo].[Mensajeros] ([mensajeroId], [nombre], [telefono], [esEmpleado], [empleadoId], [EsExterno]) VALUES (1, N'Mensajero Uno', NULL, NULL, NULL, 0)
INSERT [dbo].[Mensajeros] ([mensajeroId], [nombre], [telefono], [esEmpleado], [empleadoId], [EsExterno]) VALUES (2, N'Mensajero Dos', NULL, NULL, NULL, 1)
INSERT [dbo].[Mensajeros] ([mensajeroId], [nombre], [telefono], [esEmpleado], [empleadoId], [EsExterno]) VALUES (3, N'Mensajero Tres', NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Mensajeros] OFF
GO
SET IDENTITY_INSERT [dbo].[Ordenes] ON 

INSERT [dbo].[Ordenes] ([ordenId], [ClienteID], [SucursalID], [EmpleadoID], [MensajeroID], [OrigenID], [TipoPagoID], [HorarioVenta], [TotalCompra], [KilometrosRecorrer], [FechaDespacho], [FechaEntrega], [FechaOrdenTomada], [FechaOrdenLista]) VALUES (1, 1, 1, 1, 1, 1, 1, N'Mañana', CAST(1053.51 AS Decimal(10, 2)), CAST(5.50 AS Decimal(5, 2)), CAST(N'2023-01-10T08:30:00.000' AS DateTime), CAST(N'2023-01-10T09:00:00.000' AS DateTime), CAST(N'2023-01-10T08:00:00.000' AS DateTime), CAST(N'2023-01-10T08:15:00.000' AS DateTime))
INSERT [dbo].[Ordenes] ([ordenId], [ClienteID], [SucursalID], [EmpleadoID], [MensajeroID], [OrigenID], [TipoPagoID], [HorarioVenta], [TotalCompra], [KilometrosRecorrer], [FechaDespacho], [FechaEntrega], [FechaOrdenTomada], [FechaOrdenLista]) VALUES (2, 2, 2, 2, 2, 2, 2, N'Tarde', CAST(1075.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(N'2023-02-15T14:30:00.000' AS DateTime), CAST(N'2023-02-15T15:00:00.000' AS DateTime), CAST(N'2023-02-15T13:30:00.000' AS DateTime), CAST(N'2023-02-15T14:00:00.000' AS DateTime))
INSERT [dbo].[Ordenes] ([ordenId], [ClienteID], [SucursalID], [EmpleadoID], [MensajeroID], [OrigenID], [TipoPagoID], [HorarioVenta], [TotalCompra], [KilometrosRecorrer], [FechaDespacho], [FechaEntrega], [FechaOrdenTomada], [FechaOrdenLista]) VALUES (3, 3, 3, 3, 3, 3, 3, N'Noche', CAST(920.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(5, 2)), CAST(N'2023-03-20T19:30:00.000' AS DateTime), CAST(N'2023-03-20T20:00:00.000' AS DateTime), CAST(N'2023-03-20T19:00:00.000' AS DateTime), CAST(N'2023-03-20T19:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ordenes] OFF
GO
INSERT [dbo].[OrigenesOrden] ([origenId], [nombreOrigen], [Descripcion]) VALUES (1, N'En línea', NULL)
INSERT [dbo].[OrigenesOrden] ([origenId], [nombreOrigen], [Descripcion]) VALUES (2, N'Presencial', NULL)
INSERT [dbo].[OrigenesOrden] ([origenId], [nombreOrigen], [Descripcion]) VALUES (3, N'Teléfono', NULL)
GO
SET IDENTITY_INSERT [dbo].[OrigenesOrden_TEMP] ON 

INSERT [dbo].[OrigenesOrden_TEMP] ([origenId], [nombreOrigen], [Descripcion]) VALUES (2, N'En línea', NULL)
INSERT [dbo].[OrigenesOrden_TEMP] ([origenId], [nombreOrigen], [Descripcion]) VALUES (3, N'Presencial', NULL)
INSERT [dbo].[OrigenesOrden_TEMP] ([origenId], [nombreOrigen], [Descripcion]) VALUES (4, N'Teléfono', NULL)
SET IDENTITY_INSERT [dbo].[OrigenesOrden_TEMP] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([productoId], [nombre], [Precio], [CategoriaID]) VALUES (1, N'Hamburguesa Deluxe', CAST(15.99 AS Decimal(10, 2)), 1)
INSERT [dbo].[Productos] ([productoId], [nombre], [Precio], [CategoriaID]) VALUES (2, N'Cheeseburger', CAST(13.99 AS Decimal(10, 2)), 1)
INSERT [dbo].[Productos] ([productoId], [nombre], [Precio], [CategoriaID]) VALUES (3, N'Pizza Margarita', CAST(11.99 AS Decimal(10, 2)), 10)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Sucursales] ON 

INSERT [dbo].[Sucursales] ([sucursalId], [nombre], [direccion]) VALUES (1, N'Sucursal Central', N'1234 New Address St')
INSERT [dbo].[Sucursales] ([sucursalId], [nombre], [direccion]) VALUES (2, N'Sucursal Norte', N'5678 North St')
INSERT [dbo].[Sucursales] ([sucursalId], [nombre], [direccion]) VALUES (3, N'Sucursal Este', N'9101 East St')
SET IDENTITY_INSERT [dbo].[Sucursales] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposPago] ON 

INSERT [dbo].[TiposPago] ([tipoPagoId], [descripcion]) VALUES (1, N'Efectivo')
INSERT [dbo].[TiposPago] ([tipoPagoId], [descripcion]) VALUES (2, N'Tarjeta de Crédito')
INSERT [dbo].[TiposPago] ([tipoPagoId], [descripcion]) VALUES (3, N'Tarjeta de Débito')
SET IDENTITY_INSERT [dbo].[TiposPago] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empleado__D87608A7FC94745D]    Script Date: 2/3/2026 18:06:03 ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleOrdenes]  WITH CHECK ADD FOREIGN KEY([ordenId])
REFERENCES [dbo].[Ordenes] ([ordenId])
GO
ALTER TABLE [dbo].[DetalleOrdenes]  WITH CHECK ADD FOREIGN KEY([productoId])
REFERENCES [dbo].[Productos] ([productoId])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([departamentoId])
REFERENCES [dbo].[Departamento] ([departamentoId])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([puestoId])
REFERENCES [dbo].[Puesto] ([puestoId])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([rolId])
REFERENCES [dbo].[Rol] ([rolId])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([sucursalId])
REFERENCES [dbo].[Sucursales] ([sucursalId])
GO
ALTER TABLE [dbo].[Mensajeros]  WITH CHECK ADD FOREIGN KEY([empleadoId])
REFERENCES [dbo].[Empleados] ([empleadoId])
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([clienteId])
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD FOREIGN KEY([MensajeroID])
REFERENCES [dbo].[Mensajeros] ([mensajeroId])
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD FOREIGN KEY([SucursalID])
REFERENCES [dbo].[Sucursales] ([sucursalId])
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD FOREIGN KEY([TipoPagoID])
REFERENCES [dbo].[TiposPago] ([tipoPagoId])
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([empleadoId])
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_OrigenID] FOREIGN KEY([OrigenID])
REFERENCES [dbo].[OrigenesOrden] ([origenId])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Ordenes_OrigenID]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([categoriaId])
GO
USE [master]
GO
